body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container {
  border: 10px solid black;
  width: 75vw;
}

.all-images-container {
  width: 75vw;
}

.image-container img {
  width: 75vw;
}

.image-container {
  display: none;
}

.image-container.active {
  display: block;
  animation: sliding;
  animation-duration: 150ms;
}

@keyframes sliding {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.left-and-right-buttons {
  position: absolute;
  top: 10em;
  display: flex;
  width: 75vw;
  justify-content: center;
}

.left-and-right-buttons div:hover {
  background-color: white;
  opacity: 1;
}

.left-and-right-buttons div {
  background-color: ivory;
  opacity: 0.5;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}

.left-and-right-buttons .right-button {
  margin-left: auto;
}

.nav-buttons-div {
  width: 75vw;
  position: relative;
  bottom: 0%;
  display: flex;
  justify-content: center;
}

.nav-buttons-div button {
  width: 30px;
  height: 30px;
  clip-path: circle(40%);
  background-color: black;
  transition: background-color 150ms ease;
}

.nav-buttons-div button.active {
  background-color: gray;
}
